<div id="header" class="w-full">
    <div id="header_logo" class="bg-white r_logo">
        <img src="../../assets/logos/logo_p.png" width="200px" alt="">
    </div>
    <div id="header_content" class="block">
        <div id="content_up" class="bg-white align-middle  h-14 w-full relative">
            <div class="center_content flex pl-56">
                <div>
                    <p class="pt-5 mr-8">Complexes : </p>
                </div>
                <div class="flex">
                    <a href="" class="mr-10"><img src="../../assets/collabs/sf.png" alt="" class="h-14 mt-1"></a>
                    <a href="" class="mr-10"><img src="../../assets/collabs/uf.png" alt="" class="h-9 mt-3"></a>
                    <a href="" class="mr-10"><img src="../../assets/collabs/gf.png" alt="" class="h-10 mt-3"></a>
                    <a href="" class="mr-10"><img src="../../assets/collabs/mf.png" alt="" class="h-9 mt-3"></a>
                    <a href="" class="mr-10"><img src="../../assets/collabs/eabs.png" alt="" class="h-16 "></a>
                    
                    <a href="" class="text-blue-600 pt-5 text-sm">Voir plus...</a>
                </div>
            </div>
        </div>
        <div id="content_down" class="h-28 w-full flex head_pr">
            <div class="flex pl-56 text-white text-xl">
                <div class="logo_sec mt-4"><a href="" class="head_link"><h2>Foot2<br/>Rue</h2></a></div>
            </div>
            <div class=" ml-36 text-white flex text-sm">
                <a href="" class="head_chx">Accueil</a>
                <a routerLink="/stade" class="head_chx">Terrains</a>
                <a  class="head_chx">Complexes</a>
                <a routerLink="/annonces" href="" class="head_chx">Annonce</a>
                <a href="" class="head_chx">About</a>
                <a href="contact" class="head_chx">Contact Us</a>
            </div>
            <div class="mt-5 absolute right-10 flex text-white text-sm">
                
                <a  routerLink="/login" class="mr-4">S'authentifer</a><p>|</p><a routerLink="/signup"  class="ml-4">S'enregistrer</a>
           
            </div>
      
        </div>
    </div>
</div>