<div class="pt-32"></div>
<div class="footer h-60 pl-11 pr-11 center text-white flex relative">
    <div class="footer_element flex">
        <img src="../../assets/logos/f2r.png" class="h-44" alt="">
        <div class="space-y-0 w-2/5 pl-32 pt-5">
            <h1 class="cr">A propos</h1>
            <p class="font-sans">Foot de Rue Maroc</p>
            <p class="font-sans text-sm">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum.</p>
        </div>
        <div class="space-y-0 w-2/5 pl-10 pr-36 pt-5">
            <h1 class="cr">Contact</h1>
            <p class="font-sans">+212(0) 6 66 66 66 66</p>
            <p class="font-sans text-sm">Assistant@fdr.tk</p>
            <div class="flex pt-3">
                <img src="../../assets/icons/fb_footer.png" class="h-6 mr-3" alt="">
                <img src="../../assets/icons/ig.png" class="h-6 mr-3" alt="">
                <img src="../../assets/icons/tw.png" class="h-6 mr-3" alt="">
            </div>
        </div>
    </div>
</div>