<div class="res_liste center pt-24 block">
    <div class="top_liste center flex pb-52 w-3/5 h-28">
        <div>
            <img src="../../../assets/images/terr_test.png" class="h-36 w-64 object-cover " alt="" srcset="">
        </div>
        <div class="space-y-0 ml-10">
            <h1 class="pt-5">Terrain 1 : Terrain A</h1>
            <!-- Reservation par semaine api -->
            <p>Réservations : 10 cette semaine</p>
            <div class="flex mt-2">
                <img src="../../assets/icons/true.png" class="h-5" alt="">
                <p class="text-sm">&nbsp;&nbsp;&nbsp;Espace des supporteurs</p>
            </div>
        </div>
    </div>
    <div class="bottom_liste center block w-3/5 pb-20">
        <p class="text-base pl-4">Liste des résérvations</p>
        <div class="w-full">
            <table class="res_table w-full">
                <!-- <caption>Liste des résérvation par un stade</caption> -->
                <thead class="head_table h-11 ">
                    <tr class="">
                        <th>Date</th>
                        <th>de</th>
                        <th>à</th>
                        <th>Nombre de joueurs</th>
                        <th>Prix</th>
                        <th>Résérvé par :</th>
                        <th>Etat de paiement</th>
                    </tr>
                </thead>
                <tbody class="body_table h-11 ">
                    <!-- Loop pour la liste des réservations d'un stade -->
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-red-600">Non Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    <tr class="body_ligne h-11 w-full">
                        <th>22-11-2022</th>
                        <th>06:00</th>
                        <th>07:00</th>
                        <th>12</th>
                        <th>300 Dh</th>
                        <th>Zineb Touzani</th>
                        <th class="text-green-600">Payé</th>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

</div>