<div class="bottom_liste center block w-4/5 pb-20 pt-24">
    <p class="text-base pl-4">Liste des utilisateurs</p>
    <div  class="w-full">
        <table class="res_table w-full">
            <!-- <caption>Liste des résérvation par un stade</caption> -->
            <thead class="head_table h-11 w-full">
                <tr class="w-full">
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            
            <tbody class="body_table h-11 ">
                <!-- Loop pour la liste des réservations d'un stade -->
                <tr class="body_ligne h-11 w-full">
                    <th>1</th>
                    <th>Anass</th>
                    <th>Nebdaoui</th>
                    <th>Nebdaoui.anass@gmail.com</th>
                    <th>Rue mohammed 6, Khouribga</th>
                    <th>Propriétaire</th>
                    <th><button class="bg-red-600 w-8 h-8 rounded-md"><img src="../../../assets/icons/delete.png" class="h-4 center" alt="" srcset=""></button></th>
                    
                </tr>
                              
            </tbody>
        </table>
    </div>
    
</div>