<div class="mt-10 block">
    <div class="flex center pl-32 pr-32">
        
        <div class="w-4/5 flex center">
            <div class="w-2/4">
                <h4>Payer avec Paypal :</h4>   
                <div id="myPaypalButtons">
                </div>
            </div>
            <div class="w-2/4 pl-5">
                <h4>Payer plus tard :</h4>   
                <div class="">
                    <button class="w-3/4 bg-secondary h-12 text-white text-xl rounded-sm">Télécharger le reçu</button>
                </div>
                <span>Présenter ce reçu au moment du paiement chez la complexe</span>
            </div>
            <!-- <button class="paypal_pay text-white bg-blue-500 w-80 rounded-xl h-12 mt-3"></button> -->
        </div>
        
        
    </div>
</div>
