.center{
    margin: 0 auto;
}
.pay_input{
    border: 1px #898989 solid;
    border-radius: 10px;
    padding: 4px;
    padding-left: 14px;
}
.paypal_pay{
    background: url('../../assets/icons/paypal.png')  no-repeat 110px 11px;
    background-color: #00A3FF;
    background-size: 100px;

}