<div class="flex header_prop">
    <div class="flex text-white mb-auto mt-auto ml-16">
        <a href="/admin/users" class="mr-7">Utilisateurs</a>
        <a href="/admin/signals" class="mr-7">Signals</a>
        <a href="admin/bloquage" class="mr-7">Bloquage</a>
    </div>
    <div class="text-white  mt-auto mb-auto ml-auto mr-16">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <mat-icon>account_circle</mat-icon> -->
        <a href="" class="ml-14 mr-10 ">
            <!-- <mat-icon class="text-white text-xl m-auto">perm_identity</mat-icon> -->
            <!-- <img src="../../assets/icons/user.png" alt="" srcset=""> -->
            Account
        </a>
        <a href="/">Déconnexion</a>
    </div>
</div>
