<div class="mt-10 block">
    <div class="center login_head block">
        <p class="pt-3 pl-5 text-xs">S'authentifier</p>
    </div>
    <div class="center login_inputs">
        <div>
            <div class="disp_block">
                <label class="ml-5">You are : </label><br>
                <select class="auth_input mt-3" #types_po (change)="onSelected()">
                    <option value="1">Propriétaire</option>
                    <option value="2">Joueur</option>
                </select>
            </div>
            <div class="disp_block mt-11">
                <label class="ml-5">Email : </label><br>
                <input type="email" name="" id="" class="auth_input mt-3">
            </div>
            <div class="disp_block mt-11">
                <label class="ml-5">Mot de Passe : </label><br>
                <input type="password" name="" id="" class="auth_input mt-3">
            </div>
            <div class="disp_block mt-11">
                <input type="button" name="" id="" value="S'authentifier" (click)="login()" class="auth_sub mt-3">
            </div>
        </div>
    </div>
    <div class="center flex login_mid">
        <div class="center ligne"></div>
        <div class="center">&nbsp;&nbsp;&nbsp;Ou&nbsp;&nbsp;&nbsp;</div>
        <div class="center ligne"></div>
    </div>
    <div class="center flex login_end">
        <input type="button" onclick="oAuthFb()" value="Facebook" class="center fb">
        <input type="button" onclick="oAuthGm()" value="Gmail" class="center gm">
    </div>
</div>
