<div class="mt-10 block">
    <div class="center login_head block">
        <p class="pt-2 pl-5 text-base">Admin Authentification</p>
    </div>
    <div class="center login_inputs">
        <form action="">
            <div class="disp_block">
                <label class="ml-5">Email : </label><br>
                <input type="email" name="" id="" class="auth_input mt-3">
            </div>
            <div class="disp_block mt-11">
                <label class="ml-5">Mot de Passe : </label><br>
                <input type="password" name="" id="" class="auth_input mt-3">
            </div>
            <div class="disp_block mt-11">
                <a href="admin/users">
                    <input type="button" name="" id="" value="S'authentifier" class="auth_sub mt-3">
                </a>
            </div>
        </form>
    </div>

</div>
