<div class="sponsor flex">
    <div class="sponsor_left block bg-green-600 h-screen pt-20 pl-48 text-white w-7/12">
        <div>
            <h1>Wanna Make a SponsorShip with us !</h1>
        </div>
        <div>
            <div class="mt-5">
                <p>Nom du collaboration ou publicité</p>
                <input type="text" class="sponsor_input">
            </div>
            <div class="mt-5">
                <p class="mt-44">Promotion</p>
                <select class="sponsor_input text-black">
                    <option value="10">-10%</option>
                    <option value="10">-20%</option>
                    <option value="10">-30%</option>
                    <option value="10">-40%</option>
                    <option value="10">-50%</option>
                    <option value="10">-60%</option>
                    <option value="10">-70%</option>
                    <option value="10">-80%</option>
                    <option value="10">-90%</option>
                </select>
            </div>

            <div class="mt-5">
                <p>Description</p>
                <textarea type="text" class="sponsor_inputs h-40"></textarea><br>
            </div>
            <div class="mt-9">
                <button class="sponsor_button">Payer maintenant votre Publicité</button>
            </div>
        
        </div>
    </div>
    <div class="sponsor_right bg-red-600 h-fit w-5/12">
        <img src="../../../assets/images/ball.png" class="ball w-24 mt-9 ml-32" alt="">
        <img src="../../../assets/images/messi.png" class="messi center" width="500px" alt="">
    </div>
</div>