<div class="center res pt-20">
    <div class="top_stade_res flex center">
        <div class="w-48 ml-64">
            <img src="../../../assets/collabs/uf.png" class="h-40" alt="">
        </div>
        <div class="block space-y-0 mt-9">
            <h1>Urban 5 Unisports - Marrakech</h1>
            <p>Nombre Terrains : 9</p>
            <p>Latitude : 31.3003242 , Longitude : 31.3003242</p>
        </div>
    </div>
    <div class="bottom_stade_res mt-12">
        <p class="text-xl pl-96">Liste des Stades :</p>
        <div class="terrains_chx w-3/5 h-44 center mb-10">
                    
            <div class="flex bd_chx">

                <img src="../../assets/images/terr_test.png" class="h-44" alt="">
                <!-- Il faut afficher la liste des stades dune complexe d'un proprietaire  -->
                <div class="flex">
                    <div class="block pl-8 pt-6 mr-80">
                        <h1 class="text-base">Complexe Urban 5</h1>
                        <h3 class="text-sm mt-1">Nombre de résérvations : 9</h3>
                        <div class="flex mt-1">
                            <img src="../../assets/icons/true.png" class="h-5" alt="">
                            <h6 class="text-sm">&nbsp;&nbsp;&nbsp;Espace des supporteurs</h6>
                        </div>
                       
                    </div>
                    <div class="ml-auto mr-0 block mt-auto mb-auto ml-24">
                        <a href=""><button class="stade_apercu w-14 h-14"><p class="text-center"><img src="../../../assets/icons/apercu.png" class="h-6 pl-3 mt-3" alt=""></p></button></a><br>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>