.center{
    margin: 0 auto;
}
// app-map{
//     height: 13rem;
// }

.terrains_head{
    width: 60%;
    height: 50px;
    background-color: #E90052;
    text-align: left;   
    color: white;
    font-weight: lighter;
}
.terrains_chx{
    transition: 0.5;
    // cursor: pointer;
}
.terrains_chx:hover{
    background-color: #D9D9D9;
}
.res_button{
    margin-left: 450px;
    margin-top: 7px;
}