<div class="recu center ">
    <div class="pt-14 pl-96 pb-10">
        <button class="center bg-secondary text-white w-56 h-12 rounded-sm " (click)="capture()">Télécharger le reçu</button>
    </div>
    <script src="/path/to/html2canvas.min.js"></script>
    <div id="rcu" class=" border-black center ">
        <div class="pt-12 flex">
            <img class="pl-12 h-56" src="../../assets/collabs/uf.png" alt="">
            <div class="w-3/5 pl-12 pt-9 space-y-0">
                <h1>Complexe : Urban 5 - Marrakech</h1>
                <p>Date : 22 Janvier 2022</p>
                <p>Heure : NOM Terr</p>
                <div class="flex">
                    <h2>Etat de paiement : </h2><h2 class="text-red-600">&nbsp; Non Payé</h2>
                </div>
            </div>
        </div>
        <div class="pt-20 pl-32">
            <p>Résérvé par : Joueur Test</p>
            <div class="flex">
                <p>Espace supporteurs :&nbsp;&nbsp; </p>
                <img src="../../assets/icons/true.png" class="h-5" alt="">
            </div>
        </div>
        <div class="pt-20">
            <img src="../../assets/images/terr_test.png" class="center w-2/4" alt="">
        </div>
        <div class="pt-20 flex pl-14">
            <img src="../../assets/logos/logo_p.png" class="h-48" alt="">
            <img src="../../assets/icons/qrcode.png" class="h-44 pl-56" alt="">
        </div>
    </div>
</div>