@font-face {
    font-family: 'Circular';
    src: url('../../res/CIRCULARSTD-MEDIUM.OTF');
}

.center{
    margin: 0 auto;
}

.recu{
    font-family: 'Circular';
}

#rcu{
    font-family: 'Circular';
    width: 21cm;
    height: 29.70cm;
    border: black 1px solid;
}