<div class="mt-9 block pl-24 pr-24 mb-32">
    <app-map></app-map>
    <div class="flex mt-9 ">
        <div class="left_reservation block h-11">
            <img src="../../assets/images/terr_test.png" alt="" class="w-full" srcset="">
            <h6 class="pl-3 text-xl mt-4">Complexe Urbain 5 Football</h6>
            

            <h6 class="pl-3 text-sm mt-1">Capacité : 10 Joueurs (2 équipes)</h6>
            <div class="pl-3 flex mt-1">
                <img src="../../assets/icons/true.png" width="20px" alt="">
                <h6 class="text-sm">&nbsp;&nbsp;&nbsp;Espace des supporteurs</h6>
            </div>
            <p class="pl-3 text-sm w-3/4 text-second_font mt-3">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression...
            </p>
        </div>

        <div class="right_reservation h-11 pl-16 mb-32">
            <form action="" class="mb-32">

                <div class="flex">
                    <div class="disp_block log_div mr-3">
                        <label class="ml-5">Nombre de Joueurs : </label><br>
                        <input  #nbJ type="text" name="" class="auth_input mt-1">
                    </div>
                    <div class="disp_block log_div ml-3">
                        <label class="ml-5">Durée : </label><br>
                        <input  #duree type="number" name=""  class="auth_input mt-1">
                    </div>
                </div>
                <div class="flex mt-5">
                    <div class="disp_block log_div mr-3">
                        <label class="ml-5">Date : </label><br>
                        <input  #date type="date" name=""  class="auth_input mt-1">
                    </div>
                    <div class="disp_block log_div ml-3">
                        <label class="ml-5">Heure : </label><br>
                        <select  #heure name=""  class="auth_input mt-1">
                            <option value="6">06:00</option>
                            <option value="7">07:00</option>
                            <option value="8">08:00</option>
                            <option value="9">09:00</option>
                            <option value="10">10:00</option>
                            <option value="11">11:00</option>
                            <option value="12">12:00</option>
                            <option value="13">13:00</option>
                            <option value="14">14:00</option>
                            <option value="15">15:00</option>
                            <option value="16">16:00</option>
                            <option value="17">17:00</option>
                            <option value="18">18:00</option>
                            <option value="19">19:00</option>
                            <option value="20">20:00</option>
                            <option value="21">21:00</option>

                        </select>
                       
                    </div>
                </div>
                <div class="disp_block mt-5">
                    <label class="ml-5">Réservé par : </label><br>
                    <input type="text" name="" id="" value="Joueur Utilisateur1" disabled="disabled" class="auth_input mt-3">
                </div>
                <div class="disp_block mt-5">
                    <label class="ml-5">Prix : </label><br>
                    <input type="number" name="" id="" value="150.00" disabled="disabled" class="auth_input mt-3 text-green-800 bg-transparent">
                </div>
                

                <div class=" mt-7 flex">
                    <input (click)="getValue()" type="submit" name="" id="" value="Réserver" class="auth_sub mt-3">
                    <input  type="submit" name="" id="" value="Inviter" class="auth_sub_inv mt-3">

                </div>
                
            </form>
        </div>
        

    </div>
    <div class="mt-80">
        <p class="">Footer -BETA</p>
    </div>

</div>
