<div class="flex header_prop">
    <div class="flex text-white mb-auto mt-auto ml-16">
        <a routerLink="/proprietaire/complexe" href="" class="mr-7">Complexe</a>
        <a routerLink="/roprietaire/stade" href="" class="mr-7">Terrains</a>
        <a routerLink="/proprietaire/reservations/liste" href="" class="mr-7">Réservations</a>
        <a  href="" class="mr-7">Tournois</a>
    </div>
    <div class="text-white  mt-auto mb-auto ml-auto mr-16">
        <a routerLink="/roprietaire/sponsor" href="" class="pubs_prop">Publicité / Sponsorship</a>
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <mat-icon>account_circle</mat-icon> -->
        <a href="" class="ml-14 ">
            <!-- <mat-icon class="text-white text-xl m-auto">perm_identity</mat-icon> -->
            <!-- <img src="../../assets/icons/user.png" alt="" srcset=""> -->
            Account
        </a>
    </div>
</div>
