@font-face {
    font-family: 'Circular';
    src: url('../../../res/CIRCULARSTD-MEDIUM.OTF');
}

.complexe, h1{
    font-family: 'Circular';
}
.center{
    margin: 0 auto;
}
.up_comp{

}
.down_comp{
    
}
// agm-map{
//     height: 13rem;
// }