<div class="sponsor flex">
    <div class="sponsor_left block  h-screen pt-20 pl-48 text-gray-800 w-7/12">
        <div>
            <h1>Contact Us!</h1>
        </div>
        <form>
            <div class="mt-5">
                <p>Email</p>
                <input type="email" class="sponsor_input">
            </div>
            <div class="mt-5">
                <p class="mt-44">Objet</p>
                <input type="text" class="sponsor_input">

            </div>

            <div class="mt-5">
                <p>Contenu</p>
                <textarea type="text" class="sponsor_inputs h-40"></textarea><br>
            </div>
            <div class="mt-9">
                <button class="sponsor_button">Mail us</button>
            </div>
        
        </form>
    </div>
    <div class="sponsor_right h-fit w-7/12">
        <img src="../../assets/images/ball.png" class="ball w-24 mt-9 " style="margin-left: 500px;" alt="">
        <img src="../../assets/images/yamiq.png" class="messi center" width="900px" alt="">
    </div>
</div>