<div class="pt-10 center block pb-60">
    <div class="sponsor center w-3/5 bg-red-600 h-24 text-center text-white items-center align-middle middle pt-8 text-3xl">
        <h1 class="text-xl">Annonce</h1>
    </div>
    <div class="flex pl-40 pr-40 mt-20">
        <div class="annonce w-1/4 h-fit block ml-0 mr-0 pt-7">
            <p class="center ml-0 mr-0 text-center font-medium text-lg">Annonces</p>
            <img src="../../assets/logos/logo_annonce.png" class="center mt-10" alt="">
            <a href="" class="flex mb-3">
                <p style="color: #800080;" class="center flex">
                <img src="../../assets/icons/annonce_res.png" class="h-5 center" alt="">
                &nbsp;&nbsp;&nbsp;Publier une annonce</p>
            </a>
            <div class="annonce_chx block text-left">
                <div class="flex w-full pl-5">
                    <div class="space-y-0 mb-2 mt-2">
                        <p class="space-y-0 text-base">Urban Five - Marrakech</p>
                        <p>12 Janvier 2023 - 22h00</p>
                        <h5 class="text-sm left-0">Joueurs Manquées : 5</h5>
                    </div>
                    <img src="../../assets/collabs/uf.png" class="h-12 m-auto ml-auto mr-auto " alt="">
                </div>
                <div>
                    <button class="w-full annonce_reserver h-9 text-secondary">
                        Réserver
                    </button>
                </div>
            </div>
            <div class="annonce_chx block text-left">
                <div class="flex w-full pl-5">
                    <div class="space-y-0 mb-2 mt-2">
                        <p class="space-y-0 text-base">Urban Five - Marrakech</p>
                        <p>12 Janvier 2023 - 22h00</p>
                        <h5 class="text-sm left-0">Joueurs Manquées : 5</h5>
                    </div>
                    <img src="../../assets/collabs/uf.png" class="h-12 m-auto ml-auto mr-auto " alt="">
                </div>
                <div>
                    <button class="w-full annonce_reserver h-9 text-secondary">
                        Réserver
                    </button>
                </div>
            </div>
            <div class="annonce_chx block text-left">
                <div class="flex w-full pl-5">
                    <div class="space-y-0 mb-2 mt-2">
                        <p class="space-y-0 text-base">Urban Five - Marrakech</p>
                        <p>12 Janvier 2023 - 22h00</p>
                        <h5 class="text-sm left-0">Joueurs Manquées : 5</h5>
                    </div>
                    <img src="../../assets/collabs/uf.png" class="h-12 m-auto ml-auto mr-auto " alt="">
                </div>
                <div>
                    <button class="w-full annonce_reserver h-9 text-secondary">
                        Réserver
                    </button>
                </div>
            </div>

            <div class="pr-7 pt-2">
                <h5 class="text-links text-right mr-7">Plus d'annonces...</h5>
            </div>
        </div>
        <div class="event w-3/4 h-9 ml-5">
            <div class="tournoi_event flex">
                <div class="w-2/5">
                    <img src="../../assets/images/urban_tournament.png" class="h-80" alt="">
                </div>
                <div class="event_desc h-80 w-3/5 p-7">
                    <h1 class="text-white font-extrabold pl-4">Tournoi</h1>
                    <p class="text-white font-sans font-thin text-xs pl-4 pr-4 pt-6">
                        Rejoignez les 16 équipes qui participent à la tournoi foot-ball sur Urban Five qui se démarre le 22 Janvier 2022 pour gagner le Grand prix “Urban Elite Trophy”, le 22 Janvier 2022 pour gagner le Grand prix “Urban Elite Trophy”.
                    </p>
                    <div class="flex pl-4 pt-5">
                        <div class="flex">
                            <div class="event_location bg-white rounded-full w-9 h-9 center ">
                                <img src="../../assets/icons/event_location_beta.png" class="center pt-1 pb-0" alt="">
                            </div>
                            <p class="text-white pt-2 font-sans pl-4">Urban Five - Marrakech</p>
                        </div>
                        <div class="flex ml-7">
                            <div class="event_location bg-white rounded-full w-9 h-9 center ">
                                <img src="../../assets/icons/event_date_beta.png" class="center pt-2 pb-0" alt="">
                            </div>
                            <p class="text-white pt-2 font-sans pl-4">22 Janvier 2023</p>
                        </div>
                    </div>
                    <div class="pl-4 pt-6">
                        <button style="background-color: #A21662;" class="w-36 text-white h-8 rounded-sm">Participer</button>
                    </div>
                </div>
            </div>
            <div class="app_mobile h-48 mt-10 flex">
                <div class="app_emulator">
                    <img src="../../assets/images/app_emulator.png" class="-mt-10 ml-12 w-36" alt="">
                </div>
                <div class="text-center align-middle flex items-center content-center">
                    <h1 class="text-white font-bold get_it pt-3 pl-10 text-8xl">Get it now!</h1>
                    <a href="" class="playstore pl-24"><img src="../../assets/icons/google_play.png" alt=""></a>
                    <a href="" class="playstore pl-7"><img src="../../assets/icons/app_store.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>