<div class="mt-10 block">
    <div class="center login_head block">
        <p class="pt-3 pl-5 text-xs">S'enregistrer</p>
    </div>
    <div class="center login_inputs">
        <form action="">
            <div class="flex">
                <div class="disp_block log_div mr-3">
                    <label class="ml-5">Nom : </label><br>
                    <input type="email" name="" id="" class="auth_input mt-3">
                </div>
                <div class="disp_block log_div ml-3">
                    <label class="ml-5">Prenom : </label><br>
                    <input type="email" name="" id="" class="auth_input mt-3">
                </div>
            </div>
            <div class="flex mt-5">
                <div class="disp_block log_div mr-3">
                    <label class="ml-5">Mot de passe : </label><br>
                    <input type="password" name="" id="" class="auth_input mt-3">
                </div>
                <div class="disp_block log_div ml-3">
                    <label class="ml-5">Age : </label><br>
                    <input type="number" name="" id="" class="auth_input mt-3">
                </div>
            </div>
            <div class="disp_block mt-5">
                <label class="ml-5">Email : </label><br>
                <input type="email" name="" id="" class="auth_input mt-3">
            </div>
            <div class="flex mt-5">
                <div class="disp_block log_div mr-3">
                    <label class="ml-5">Mot de passe : </label><br>
                    <input type="password" name="" id="" class="log_input mt-3 w-10">
                </div>
                <div style="width: 100%;">
                    <label class="ml-5">Etat : </label><br>
                    <div class="ml-5 mt-3 font-light rb">
                        Propriétaire des terrains <input type="radio" name="" id="" >
                        Joueur <input type="radio" name="" id="">
                    </div>
                    
                </div>
            </div>
            <div class="disp_block mt-11">
                <input type="submit" name="" id="" value="S'enregistrer" class="auth_sub mt-3">
            </div>
            
        </form>
    </div>
    <div class="center flex login_mid">
        <div class="center ligne"></div>
        <div class="center">&nbsp;&nbsp;&nbsp;Ou&nbsp;&nbsp;&nbsp;</div>
        <div class="center ligne"></div>
    </div>
    <div class="center flex login_end">
        <input type="button" onclick="oAuthFb()" value="Facebook" class="center fb">
        <input type="button" onclick="oAuthGm()" value="Gmail" class="center gm">
    </div>
</div>
